extends layout

block content
  .ui.large.top.fixed.hidden.menu
    .ui.container
      a.active.item Home
      a.item Work
      a.item Company
      a.item Careers
      .right.menu
        .item
          a.ddb98bFill.ui.button Log in
        .item
          a.ui.primary.button Sign Up

