extends layout

block content
  .ui.left.sidebar.vertical.inverted.menu.push.visible
    a.item
      | 1
    a.item
      | 2
    a.item
      | 3
  .pusher
    .ui.masthead.vertical.segment.exdoc(style="background:#ddb98b;")
      .ui.text.container.introduction.exdoc
        h1 Rail
        .sub.header.exdoc
          | sub stuff
        .ui.hidden.divider.exdoc
