extends layout

block content
  #toc.ui.vertical.inverted.sidebar.menu
    .item
      a.ui.logo.icon.image(href='/')
        img(src='/images/logo.png')
      a(href='/')
        b UI Docs
    a.item(href='/introduction/getting-started.html')
      b Getting Started
    a.item(href='/introduction/new.html')
      b New in 2.4
    .item
      .header Introduction
      .menu
        a.item(href='/introduction/integrations.html')
          | Integrations
        a.item(href='/introduction/build-tools.html')
          | Build Tools
        a.item(href='/introduction/advanced-usage.html')
          | Recipes
        a.item(href='/introduction/glossary.html')
          | Glossary
    .item
      .header Usage
      .menu
        a.item(href='/usage/theming.html')
          | Theming
        a.item(href='/usage/layout.html')
          | Layouts
    .item
      .header Globals
      .menu
        a.item(href='/globals/reset.html')
          | Reset
        a.item(href='/globals/site.html')
          | Site
    .item
      .header Elements
      .menu
        a.item(href='/elements/button.html')
          | Button
        a.item(href='/elements/container.html')
          | Container
        a.item(href='/elements/divider.html')
          | Divider
        a.item(href='/elements/flag.html')
          | Flag
        a.item(href='/elements/header.html')
          | Header
        a.item(href='/elements/icon.html')
          | Icon
        a.item(href='/elements/image.html')
          | Image
        a.item(href='/elements/input.html')
          | Input
        a.item(href='/elements/label.html')
          | Label
        a.item(href='/elements/list.html')
          | List
        a.item(href='/elements/loader.html')
          | Loader
        a.item(href='/elements/placeholder.html')
          | Placeholder
        a.item(href='/elements/rail.html')
          | Rail
        a.item(href='/elements/reveal.html')
          | Reveal
        a.item(href='/elements/segment.html')
          | Segment
        a.item(href='/elements/step.html')
          | Step
    .item
      .header Collections
      .menu
        a.item(href='/collections/breadcrumb.html')
          | Breadcrumb
        a.item(href='/collections/form.html')
          | Form
        a.item(href='/collections/grid.html')
          | Grid
        a.item(href='/collections/menu.html')
          | Menu
        a.item(href='/collections/message.html')
          | Message
        a.item(href='/collections/table.html')
          | Table
    .item
      .header Views
      .menu
        a.item(href='/views/advertisement.html')
          | Advertisement
        a.item(href='/views/card.html')
          | Card
        a.item(href='/views/comment.html')
          | Comment
        a.item(href='/views/feed.html')
          | Feed
        a.item(href='/views/item.html')
          | Item
        a.item(href='/views/statistic.html')
          | Statistic
    .item
      .header Modules
      .menu
        a.item(href='/modules/accordion.html')
          | Accordion
        a.item(href='/modules/checkbox.html')
          | Checkbox
        a.item(href='/modules/dimmer.html')
          | Dimmer
        a.item(href='/modules/dropdown.html')
          | Dropdown
        a.item(href='/modules/embed.html')
          | Embed
        a.item(href='/modules/modal.html')
          | Modal
        a.item(href='/modules/popup.html')
          | Popup
        a.item(href='/modules/progress.html')
          | Progress
        a.item(href='/modules/rating.html')
          | Rating
        a.item(href='/modules/search.html')
          | Search
        a.item(href='/modules/shape.html')
          | Shape
        a.item(href='/modules/sidebar.html')
          | Sidebar
        a.item(href='/modules/sticky.html')
          | Sticky
        a.item(href='/modules/tab.html')
          | Tab
        a.item(href='/modules/transition.html')
          | Transition
    .item
      .header Behaviors
      .menu
        a.item(href='/behaviors/api.html')
          | API
        a.item(href='/behaviors/form.html')
          | Form Validation
        a.item(href='/behaviors/visibility.html')
          | Visibility
  .ui.black.big.launch.right.attached.fixed.button
    i.content.icon
    span.text Menu
  .ui.fixed.inverted.main.menu
    .ui.container
      a.launch.icon.item
        i.content.icon
      .item
        | Getting Started
      .right.menu
        .vertically.fitted.borderless.item
          iframe.github(src='//ghbtns.com/github-btn.html?user=semantic-org&repo=semantic-ui&type=watch&count=true' allowtransparency='true' frameborder='0' scrolling='0' width='100' height='20')
        //
          <div class="item">
          <div class="ui hidden right aligned search input" id="search">
          <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search...">
          <i class="inverted search link icon" data-content="Search UI"></i>
          </div>
          <div class="results"></div>
          </div>
          </div>
  .pusher
    .full.height
      .toc
        .ui.vertical.inverted.menu
          .item
            a.ui.logo.icon.image(href='/')
              img(src='/images/logo.png')
            a(href='/')
              b UI Docs
          a.item(href='/introduction/getting-started.html')
            b Getting Started
          a.item(href='/introduction/new.html')
            b New in 2.4
          .item
            .header Introduction
            .menu
              a.item(href='/introduction/integrations.html')
                | Integrations
              a.item(href='/introduction/build-tools.html')
                | Build Tools
              a.item(href='/introduction/advanced-usage.html')
                | Recipes
              a.item(href='/introduction/glossary.html')
                | Glossary
          .item
            .header Usage
            .menu
              a.item(href='/usage/theming.html')
                | Theming
              a.item(href='/usage/layout.html')
                | Layouts
          .item
            .header Globals
            .menu
              a.item(href='/globals/reset.html')
                | Reset
              a.item(href='/globals/site.html')
                | Site
          .item
            .header Elements
            .menu
              a.item(href='/elements/button.html')
                | Button
              a.item(href='/elements/container.html')
                | Container
              a.item(href='/elements/divider.html')
                | Divider
              a.item(href='/elements/flag.html')
                | Flag
              a.item(href='/elements/header.html')
                | Header
              a.item(href='/elements/icon.html')
                | Icon
              a.item(href='/elements/image.html')
                | Image
              a.item(href='/elements/input.html')
                | Input
              a.item(href='/elements/label.html')
                | Label
              a.item(href='/elements/list.html')
                | List
              a.item(href='/elements/loader.html')
                | Loader
              a.item(href='/elements/placeholder.html')
                | Placeholder
              a.item(href='/elements/rail.html')
                | Rail
              a.item(href='/elements/reveal.html')
                | Reveal
              a.item(href='/elements/segment.html')
                | Segment
              a.item(href='/elements/step.html')
                | Step
          .item
            .header Collections
            .menu
              a.item(href='/collections/breadcrumb.html')
                | Breadcrumb
              a.item(href='/collections/form.html')
                | Form
              a.item(href='/collections/grid.html')
                | Grid
              a.item(href='/collections/menu.html')
                | Menu
              a.item(href='/collections/message.html')
                | Message
              a.item(href='/collections/table.html')
                | Table
          .item
            .header Views
            .menu
              a.item(href='/views/advertisement.html')
                | Advertisement
              a.item(href='/views/card.html')
                | Card
              a.item(href='/views/comment.html')
                | Comment
              a.item(href='/views/feed.html')
                | Feed
              a.item(href='/views/item.html')
                | Item
              a.item(href='/views/statistic.html')
                | Statistic
          .item
            .header Modules
            .menu
              a.item(href='/modules/accordion.html')
                | Accordion
              a.item(href='/modules/checkbox.html')
                | Checkbox
              a.item(href='/modules/dimmer.html')
                | Dimmer
              a.item(href='/modules/dropdown.html')
                | Dropdown
              a.item(href='/modules/embed.html')
                | Embed
              a.item(href='/modules/modal.html')
                | Modal
              a.item(href='/modules/popup.html')
                | Popup
              a.item(href='/modules/progress.html')
                | Progress
              a.item(href='/modules/rating.html')
                | Rating
              a.item(href='/modules/search.html')
                | Search
              a.item(href='/modules/shape.html')
                | Shape
              a.item(href='/modules/sidebar.html')
                | Sidebar
              a.item(href='/modules/sticky.html')
                | Sticky
              a.item(href='/modules/tab.html')
                | Tab
              a.item(href='/modules/transition.html')
                | Transition
          .item
            .header Behaviors
            .menu
              a.item(href='/behaviors/api.html')
                | API
              a.item(href='/behaviors/form.html')
                | Form Validation
              a.item(href='/behaviors/visibility.html')
                | Visibility
      .article
        script(src='/javascript/started.js')
        .ui.masthead.vertical.segment
          .ui.container
            .introduction
              h1.ui.header
                | Getting Started
                .sub.header
                  a.twitter-share-button.twitter(href='https://twitter.com/share' data-text='Semantic UI is a next generation UI framework' data-url='http://semantic-ui.com' data-via='semanticui')
                  script(type='text/javascript').
                    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
                  iframe.github(src='//ghbtns.com/github-btn.html?user=semantic-org&repo=semantic-ui&type=star&count=true&' allowtransparency='true' frameborder='0' scrolling='0' width='100' height='20')
                  |           Getting up and running with Semantic UI
              .ui.hidden.divider
              .ui.right.floated.main.menu
                a.bug.popup.icon.item(data-content='Edit This Page' href='https://github.com/Semantic-Org/Semantic-UI-Docs/edit/master/server/documents/introduction/getting-started.html.eco')
                  i.edit.icon
                a.github.popup.icon.item(data-content='View project on GitHub' href='https://github.com/Semantic-Org/Semantic-UI')
                  i.alternate.github.icon
              .ui.right.floated.main.menu
                a.music.popup.icon.item(data-content='Play Music')
                  i.music.icon
                #languages.ui.language.dropdown.right.floating.icon.item(data-content='Select Language')
                  i.world.icon
                  .menu
                    .header Select Language
                    .ui.icon.search.input
                      i.search.icon
                      input(type='text' placeholder='Search languages...')
                    .scrolling.menu
                      .item(data-percent='100' data-value='en' data-english='English')
                        span.description English
                        |     English
                      .item(data-percent='94' data-value='da' data-english='Danish')
                        span.description dansk
                        |     Danish
                      .item(data-percent='94' data-value='es' data-english='Spanish')
                        span.description Español
                        |     Spanish
                      .item(data-percent='34' data-value='zh' data-english='Chinese')
                        span.description 简体中文
                        |     Chinese
                      .item(data-percent='54' data-value='zh_TW' data-english='Chinese (Taiwan)')
                        span.description 中文 (臺灣)
                        |     Chinese (Taiwan)
                      .item(data-percent='79' data-value='fa' data-english='Persian')
                        span.description پارسی
                        |     Persian
                      .item(data-percent='41' data-value='fr' data-english='French')
                        span.description Français
                        |     French
                      .item(data-percent='37' data-value='el' data-english='Greek')
                        span.description ελληνικά
                        |     Greek
                      .item(data-percent='37' data-value='ru' data-english='Russian')
                        span.description Русский
                        |     Russian
                      .item(data-percent='36' data-value='de' data-english='German')
                        span.description Deutsch
                        |     German
                      .item(data-percent='23' data-value='it' data-english='Italian')
                        span.description Italiano
                        |     Italian
                      .item(data-percent='21' data-value='nl' data-english='Dutch')
                        span.description Nederlands
                        |     Dutch
                      .item(data-percent='19' data-value='pt_BR' data-english='Portuguese')
                        span.description Português(BR)
                        |     Portuguese
                      .item(data-percent='17' data-value='id' data-english='Indonesian')
                        span.description Indonesian
                        |     Indonesian
                      .item(data-percent='12' data-value='lt' data-english='Lithuanian')
                        span.description Lietuvių
                        |     Lithuanian
                      .item(data-percent='11' data-value='tr' data-english='Turkish')
                        span.description Türkçe
                        |     Turkish
                      .item(data-percent='10' data-value='kr' data-english='Korean')
                        span.description 한국어
                        |     Korean
                      .item(data-percent='7' data-value='ar' data-english='Arabic')
                        span.description العربية
                        |     Arabic
                      .item(data-percent='6' data-value='hu' data-english='Hungarian')
                        span.description Magyar
                        |     Hungarian
                      .item(data-percent='6' data-value='vi' data-english='Vietnamese')
                        span.description tiếng Việt
                        |     Vietnamese
                      .item(data-percent='5' data-value='sv' data-english='Swedish')
                        span.description svenska
                        |     Swedish
                      .item(data-precent='4' data-value='pl' data-english='Polish')
                        span.description polski
                        |     Polish
                      .item(data-percent='6' data-value='ja' data-english='Japanese')
                        span.description 日本語
                        |     Japanese
                      .item(data-percent='0' data-value='ro' data-english='Romanian')
                        span.description românește
                        |     Romanian
            .advertisement
              script#_carbonads_js(async='' type='text/javascript' src='//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=semanticuicom')
        #semantic-sponsor
        script.
          _bsa.init('custom', 'CVAIKK7I', 'placement:semanticuicom',
          {
          target: '#semantic-sponsor',
          template: `
          <div class="native-inline">
          <a href="##link##" class="native-link">
          <img src="##image##" style="background-color: ##backgroundColor##" class="native-img">
          <div class="native-text">##company## — ##description##</div>
          </a>
          <a href="##adViaLink##" class="native-ad">AD</a>
          </div>
          `
          }
          );
        .ui.vertical.beg.transition.hidden.segment
          i.large.red.delete.link.icon
          .ui.red.header
            i.disabled.warning.sign.icon
            .content
              | Want to Support Open Source? Whitelist Your Ad-Blocker.
              .sub.header
                | We promise to not show more than one small ad per page. Dont worry, hiding this message will make sure you won't get nagged again.
        .main.ui.intro.container
          h2.ui.dividing.header Preface
          .no.example
            h4.ui.header Using Build Tools
            p
              | Semantic UI packaged Gulp build tools so your project can preserve its 
              a(href='/usage/theming.html') own theme changes
              | .
            p
              | The easiest way to install Semantic UI is our NPM package which contains special install scripts to make setup interactive and updates seamless.
            p
              | For installing with specific integrations like Ember, React, or Meteor, see our 
              a(href='/introduction/integrations.html') integration guide
            p
              | For integrating Semantic UI tasks into your own build tools, or using a CDN see our 
              a(href='/introduction/advanced-usage.html') recipes
              |  section.
          .ui.large.info.message
            .ui.header Simpler Setup
            p
              | If you are using Semantic UI as a dependency and just want to use our default theme, use our lighter 
              a(href='https://github.com/Semantic-Org/Semantic-UI-CSS' target='_blank')
                code semantic-ui-css
              |  or 
              a(href='https://github.com/Semantic-Org/Semantic-UI-Less' target='_blank')
                code semantic-ui-less
              |  repo. If you just need the files you can download them as a zip from GitHub.
            a.ui.secondary.button(href='https://github.com/Semantic-Org/Semantic-UI-CSS/archive/master.zip') Download Zip
            a.ui.button(href='https://github.com/Semantic-Org/' target='_blank') View all Semantic-Org Repos 
          h2.ui.dividing.header Installing
          .no.example
            h4.ui.header Install NodeJS
            p
              | If you are unfamiliar with setting up NodeJS you can follow the steps below, or check out the 
              a(href='https://nodejs.org/download/' target='_blank') download page
              |  on 
              a(href='https://www.nodejs.org' target='_blank') nodejs.org
            .ui.secondary.menu
              a.active.item(data-tab='mac') Mac
              a.item(data-tab='linux') Linux
              a.item(data-tab='win') Windows
            .ui.active.basic.tab.vertical.segment(data-tab='mac')
              h4 Option 1: Homebrew
              p
                | After installing 
                a(href='https://brew.sh/' target='_blank') homebrew
              .ignored.code(data-type='bash')
                | brew install node
              h4 Option 2: Git
              .ignored.code(data-type='bash')
                | git clone git://github.com/nodejs/node.git
                | cd node
                | ./configure
                | make
                | sudo make install
            .ui.basic.tab.vertical.segment(data-tab='linux')
              h4 Install via PPA
              p
                | Although 
                a(href='http://www.ubuntuupdates.org/ppa/chris_lea_nodejs' target='_blank') Chris Lea's PPA
                |  was once the best way to install node, it is now somewhat out of date.
              p
                | The recommended path to install Semantic UI is using 
                a(href='https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager' target='_blank') Joyent's package manager
                |  guide.
              h4 Ubuntu
              .ignored.code(data-type='bash')
                | curl --silent --location https://deb.nodesource.com/setup_6.x | sudo bash -
                | sudo apt-get install --yes nodejs
              h4 Debian
              .ignored.code(data-type='bash')
                | apt-get install curl
                | curl --silent --location https://deb.nodesource.com/setup_6.x | bash -
                | apt-get install --yes nodejs
              h4 Red Hat
              .ignored.code(data-type='bash')
                | curl --silent --location https://rpm.nodesource.com/setup | bash -
                | yum -y install nodejs
            .ui.basic.tab.vertical.segment(data-tab='win')
              h4 Install the exe
              p
                | Download the 
                a(href='https://nodejs.org/download/') NodeJS executable
                | .
          .no.example
            h4 Install Gulp
            p
              | Semantic UI uses 
              a(href='http://www.gulpjs.com' target='_blank') Gulp
              |  to provide command line tools for building themed versions of the library with just the components you need.
            p Gulp is an NPM module and must be installed globally
            .ignored.code(data-type='bash')
              | npm install -g gulp
          .no.example
            h4 Install Semantic UI
            p Semantic UI is available in an eponymous package on NPM
            .ui.secondary.menu
              a.active.item(data-tab='video')
                | Video
              a.item(data-tab='code')
                | Code
            .ui.active.tab(data-tab='video')
              script#asciicast-22121(type='text/javascript' src='https://asciinema.org/a/22121.js' async='')
            .ui.tab(data-tab='code')
              .ignored.code(data-type='bash')
                | npm install semantic-ui --save
                | cd semantic/
                | gulp build
          .no.example
            h4 Include in Your HTML
            p
              | Running the gulp build tools will compile CSS and Javascript for use in your project. Just link to these files in your HTML along with the latest 
              a(href='https://www.jquery.com' target='_blank') jQuery
              | .
            .ignored.code(data-type='html' data-escape='true')
              | <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
              | <script
              | src="https://code.jquery.com/jquery-3.1.1.min.js"
              | integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              | crossorigin="anonymous"></script>
              | <script src="semantic/dist/semantic.min.js"></script>
          h2.ui.dividing.header Updating
          .no.example
            h4 Updating via NPM
            p
              | Semantic's NPM install script will automatically update Semantic UI to the latest version while preserving your site and packaged themes.
            .ignored.code(data-type='bash')
              | npm update
          h2.ui.dividing.header Next Steps
          .no.example
            h4 All Set!
            p Well done! Semantic UI is now ready to be used.
            .three.column.divided.stackable.center.aligned.ui.grid
              .column
                .ui.icon.header
                  i.rocket.circular.icon
                  |           See how to use 
                  a(href='/introduction/build-tools.html') gulp commands
                  |  and build tools
              .column
                .ui.icon.header
                  i.theme.circular.icon
                  |           Learn about 
                  a(href='/usage/theming.html') changing themes
              .column
                .ui.icon.header
                  i.food.circular.icon
                  |           See 
                  a(href='/introduction/advanced-usage.html') recipes
                  |  for using Semantic UI in your project
        .ui.vertical.footer.segment
          .ui.center.aligned.container
            .ui.stackable.grid
              .three.wide.column
                h4.ui.header Community
                .ui.link.list
                  a.item(href='https://www.transifex.com/organization/semantic-org/' target='_blank') Help Translate
                  a.item(href='https://github.com/Semantic-Org/Semantic-UI/issues' target='_blank') Submit an Issue
                  a.item(href='https://gitter.im/Semantic-Org/Semantic-UI' target='_blank') Join our Chat
                  a.item(href='/cla.html' target='_blank') CLA
              .three.wide.column
                h4.ui.header Network
                .ui.link.list
                  a.item(href='https://github.com/Semantic-Org/Semantic-UI' target='_blank') GitHub Repo
                  a.item(href='http://forums.semantic-ui.com' target='_blank') User Forums
                  a.item(href='http://1.semantic-ui.com') 1.x Docs
                  a.item(href='http://legacy.semantic-ui.com') 0.x Docs
              .seven.wide.right.floated.column
                h4.ui.header Help Preserve This Project
                p
                  | Support for the continued development of Semantic UI comes directly from the community.
                form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
                  input(type='hidden' name='cmd' value='_s-xclick')
                  input(type='hidden' name='hosted_button_id' value='7ZAF2Q8DBZAQL')
                  button.ui.large.teal.button(type='submit') Donate Today
            .ui.section.divider
            img.ui.centered.mini.image(src='/images/logo.png')
            .ui.horizontal.small.divided.link.list
              a.item(href='http://semantic-ui.mit-license.org/' target='_blank') Free & Open Source (MIT)
  .ui.basic.language.modal
    i.close.icon
    .header
      | The 
      span.name
      |  Translation Needs Your Help
    .image.content
      .middle.aligned.image
        i.world.icon
      .description
        p
          | This translation is only 
          b
            span.complete
            | %
          |  complete!
        .ui.inverted.indicating.progress
          .bar
        p We need your help to make Semantic available to  people who speak your language.
        p
          | Our translation tools are easy to use and allow you to translate text without having to leave the site.
    .actions
      .ui.inverted.cancel.button No Thanks
      a.ui.inverted.approve.teal.button(href='https://github.com/Semantic-Org/Semantic-UI/wiki/Translating-Semantic-UI-Docs' target='_blank')
        i.mail.icon
        |       Help Translate
  .ui.basic.chinese.modal
    i.close.icon
    .header Would you like to visit the mirror site?
    .image.content
      .middle.aligned.image
        i.question.icon
      .description
        p
          | Semantic is available at 
          a(href='http://www.semantic-ui.cn') semantic-ui.cn
          |  a mirror site hosted inside China. This should make browsing much faster for those visiting from mainland China.
    .actions
      .ui.inverted.red.cancel.button No Thanks
      a.ui.inverted.green.approve.button(href='http://www.semantic-ui.cn')
        i.mail.icon
        |       Yes, take me to the mirror
  .ui.demo.page.dimmer
    .content
      .center
        h2.ui.inverted.icon.header
          i.mail.icon
          |         Dimmer Message
          .sub.header Dimmer sub-header

