doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
    style.
      @import url('/stylesheets/style.css');
  body#example.started(ontouchstart='')
    block content
    footer 
      script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
      script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')